html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: Cambria;
	font-size: 14px;
}

/* mobile display */

#container{
	width: 100%;
	flex: 1 0 auto;
}

h1{
	font-size: 16px;
	line-height: 25px;
}

.student{
	font-weight: lighter;
}

#nav{
	overflow: hidden;
	position: relative;
	padding: 10px 20px;
	background-color: #ffcccc;
}

.menu{
	display: flex;
	justify-content: flex-end;
	width: 35%;
}

#heading-logo{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#heading-logo a{
	text-decoration: none;
	color: #000;
}

#nav img{
	width: 15%;
}

#links{
	display: none;
	text-align: left;
}

#links a{
	color: #000;
	text-decoration: none;
	display: block;
	padding: 14px 16px;
}

.dropdown{
	position: relative;
	display: block;
}

.dropdown2{
	position: relative;
	display: block;
}

.dropdown button{
	border: none;
	background-color: #ffcccc;
	font-size: 14px;
	font-family: Cambria;
	cursor: pointer;
	color: #000;
}

.dropdown2 button{
	border: none;
	background-color: #ffcccc;
	font-size: 14px;
	font-family: Cambria;
	cursor: pointer;
	color: #000;
}

.break{
	display: none;
}

.dropdown-content{
	display: none;
	position: relative;
}

.dropdown-content2{
	display: none;
	position: relative;
}

.content{
	display: none;
}

.content2{
	display: none;
}

h2{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.heading{
	text-align: center;
	background-color: #ffcccc;
	padding: 8px 14px;
	font-size: 18px;
}

#images{
	display: flex;
	flex-wrap: wrap;
	margin: 40px 20px 0px 20px;
	justify-content: space-evenly;
}

#images img{
	width: 35%;
}

#info-container{
	background-color: #fff1ef;
	margin-top: 50px;
}

.info{
	padding: 10px 30px;
	line-height: 24px;
}

.info h3{
	margin: 40px auto;
}

.subhead{
	border: solid 1px #000;
	padding: 8px 10px;
}

#footer{
	background-color: #ffcccc;
}

.footer-links{
	display: flex;
	justify-content: space-evenly;
}

.copyright{
	text-align: center;
}

#footer a{
	text-decoration: none;
	color: #000;
	padding-top: 20px;
	padding-bottom: 5px;
}

@media only screen and (min-width: 768px) { 

#nav img{
	width: 8%;
}

#images{
	justify-content: center;
	gap: 50px;
}

#images img{
	width: 20%;
}

.info{
	line-height: 35px;
	padding: 20px 50px;
}

}

@media only screen and (min-width: 1280px) { 

h1{
	margin-left: 20px;
}

#heading-logo{
	width: 50%;
}

#links{
	display: flex;
	gap: 25px;
	align-items: center;
	padding-right: 40px;
}

#nav{
	display: flex;
	border-bottom: none;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 110px;
	justify-content: space-between;
	background-color: #fff;
}

.dropdown button{
	background-color: #fff;
}

.dropdown2 button{
	background-color: #fff;
}

.break{
	display: block;
}

#dropdown-content{
	border: solid 1px #000;
	margin-top: 8px;
	width: 125px;
	text-align: left;
}

#dropdown-content2{
	border: solid 1px #000;
	margin-top: 8px;
	width: 125px;
	text-align: left;
}

.content{
	position: absolute;
}

.content2{
	position: absolute;
}

.menu{
	display: none;
}

#images img{
	width: 10%;
}

#info-container{
	width: 80%;
	margin: 70px auto;
}

.info{
	padding: 20px 90px;
}

}

@media only screen and (min-width: 1920px) {

h1{
	padding-left: 30px;
}

#images{
	padding-top: 40px;
}

#images img{
	width: 8%;
}

#info-container{
	width: 70%;
}

.info{
	padding: 50px 170px 30px 170px;
}


}

@media only screen and (min-width: 2560px) {

body{
	font-size: 16px;
}

.dropdown button{
	font-size: 16px;
}

.dropdown2 button{
	font-size: 16px;
}

#nav{
	padding-bottom: 130px;
}

#info-container{
	width: 60%;
	margin: 80px auto;
}

}

